body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;
}
@media only screen and (max-width: 800px) {
  body {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
